<!doctype html>
<html lang="en">
<head>
    <title>Typeidea blog -by superrabbit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .post-element-nav {
            padding-top: 0;
            padding-bottom: 0;
            color: #428bca;
        }

        .post-element-title {
            color: #333;
            border-bottom: 1px solid #ccc;
            font-size: 25px;
        }

        .post-element-desc {
            padding: 1rem;

        }

        .main{
            margin-top: 15px;
        }
    </style>
</head>

<body>
<div class="container">
    <h3>
        typeidea blog --by superrabbit
        <small class="text-muted">-基于django的多人博客系统</small>
    </h3>
</div>


<div class="container">
    <nav class="nav" style="border-bottom: 1px solid #ccc; padding-bottom: 3px">
        {% for cate in nav_cates %}
            <li class="nav-item"><a href="{% url 'category' cate.id %}">{{ cate.name }}</a></li>
        {% endfor %}
    </nav>
</div>

<div class="container main">
    <div class="row">
        <div class="col-9">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-3">
            {% for side in side_bars %}
                <div class="container">
                    <h4>{{ side.title }}</h4>
                    <div>
                        {% if side.display_type == 1 %}
                            {% autoescape off %}
                                {{ side.content }}
                            {% endautoescape %}
                        {% elif side.display_type == 2 %}
                            <ul>
                                {% for post in recently_posts %}
                                    <li>{{ post.title }}</li>
                                {% endfor %}
                            </ul>
                        {% elif side.display_type == 4 %}
                            {% for comment in recently_comments %}
                                <li>{{ comment.content }}</li>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr/>


<footer class="footer">
    <nav class="nav">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </nav>
    <div class="container">
        <span class="text-muted">Power by Typeidea@Superrabbit.</span>
    </div>
</footer>
